div {
    width: 200px;
    height: 200px;
}
.one {
    background-color: blue;
}

.two {
    background-color: purple;
}

.three {
    background-color: lavender;
}
.four {
    background-color: lavender;
}
.five {
    background-color: lavender;
}